In [11]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from datetime import datetime
#from statsmodels.tsa.seasonal import seasonal_decompose
#from pmdarima.arima import auto_arima

# ignore warning
import warnings
warnings.filterwarnings('ignore')

In [6]:
# carregando base de dados

dataset = pd.read_csv('./data/AirPassengers.csv')
dataset.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [12]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m')
dataset = pd.read_csv('./data/AirPassengers.csv', parse_dates = ['Month'], index_col = 'Month', date_parser = dateparse)

In [10]:
# visualização após tratamento no carregamento

dataset.head()

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121

In [ ]:
#em andamento